body {
  padding: 0;
  margin: 0;
}

body, #uwc_splash {
  background: white;
  color: #767676;
}

body {
  /*background-image: url("/images/amp.png");*/
}

body, table {
  font-family: Times New Roman, fixed; 
  font-size: 14pt;
  line-height: 150%;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#uwc_chat {
  display: none;
  position:absolute;
  opacity:0.0;
  width: inherit;
  height: inherit;
}

#loading, #connect {
  background: white;
  width: 100%;
  height: 100%;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#logo {
}

#stripes {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
  width: 82px;
  height: 100%;
  background: transparent url('/images/stripes.png') repeat-y scroll 0 0;
}

#loading p, #connect fieldset  {
  font-family: Times New Roman, fixed; 
  width: 30em;
  border: 0;
}

#toolbar {
  position: fixed;
  color: #fff;
  width: inherit; 
  bottom: 0;
  border: 6px double #A4C8EF;
  margin-bottom: 5px;
}

#entry {
  font-family: Times New Roman, fixed;
  color: #767676;
  width: inherit;
  background-color: white;
  font-size: inherit;
  border: none;
  padding: 0.2em;
  margin: 0;
  clear: both;
  width: 99%;
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  margin-top: 90px;
  margin-left: 12px;
  padding-bottom: 57px; 
  background: inherit;
  overflow: hidden;
  opacity:0.0;
}

#log_border {
  position: fixed;
  bottom: 51px;
  border: 6px double #A4C8EF;
  height: 525px;
  width: inherit;
  z-index: 4;
}

#log_background {
  position: fixed;
  bottom: 51px;
  height: 525px;
  width: inherit;
  background-image: url("/images/amp.png");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  padding: 6px;
}

#toolbar_container {
  position: fixed;
  bottom: 0px;
  width: 981px;
  height: 57px;
  background-color: white;
  z-index: 0;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #767676; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 2em 0 0;
}

#uwc_base {
  height: 500px;
  width: 981px;
  margin-left: auto;
  margin-right: auto;
}

#uwc_splash {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  z-index: 3;
}

#uwc_splash .content {
  padding-top: 30px;
  padding-bottom: 10px;
}

#uwc_splash.top {
  width: 100%;
  height: 20px;
  position: relative;
  vertical-align: top;
  top: 0%;
}

#uwc_splash.top h1 {
  display: inline;
}

#uwc_splash.top #connect {
  width: 90%;
  float: right;
}

#uwc_room {
  width: 512px;
}

#open_dialog {
  font-style: italic;
  font-weight: bold;
  color: #a4c8ef;
  font-size:0.8em;
  text-align:center;
  display: block;
  text-decoration: underline;
  cursor: pointer;
}

#connectButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 40px;
}

#amp_text {
  width: 222px;
  margin-left: auto;
  margin-right: auto;
}

#header_swirl_left {
  float: left;
  display: inline;
  margin-top: 40px;
}

#header_swirl_right {
  position: absolute;
  top: 35px;
  right: 0px;
}

#header_amp_text {
  margin-top: 20px;
  width: 222px;
  margin-left: auto;
  margin-right: auto;
}

#uwc_header {
  width: inherit;
  height: 119px;
  z-index: 3;
  position: fixed;
  top: 0px;
  background: white;
  opacity: 0;
}

#dialog p {
  text-align: center;
  display: block;
  font-size: 12pt;
  margin-bottom: 5px;
}

#dialog h2 {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
